# Video files
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.mpeg
*.mpg
*.webm
*.3gp
*.vob
*.m4v
*.m2v
*.ts
*.m2ts
*.mts
*.f4v
*.ogv
*.qt
*.rm
*.rmvb
*.asf
*.divx
*.xvid
*.mpv
*.3g2
*.ogm
*.h264
*.h265
*.hevc
*.mxf
*.swf
*.srt
*.ass
*.ssa
*.sub
*.idx
*.sup
*.stl

# Exclude test files
test/
testing/
test*
testing*

# Exclude temporary files
*.part
*.temp
*.bak
*.swp
*.~lock.*
*~